@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark: #001220;
    --light: #002233;
    --ligther: #B6BBC4;
    --bg: #F0ECE5;
    --linear-bg: url('../images/stacked-waves-haikei.svg');
    --footer-bg: url('../images/layered-waves-haikei.svg');
}

[x-cloak] {
    display: none;
}

#app-container {
    background-image: url('../images/Sprinkle.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.glass{
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
}

input{
    background-color: var(--light);
}

.custom-calendar .p-calendar {
    border: 2px solid #4B5563; /* Custom border color */
    border-radius: 8px ; /* Custom border radius */
    background-color: #f9fafb; /* Custom background color */
    color: black !important;
}